<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <%= user.email %>
        <!-- <img src="" alt="" >admin -->
    </nav>
    <br>
    <h1>Welcome</h1>
    <a href="/showPilot"><button>Show Pilot</button></a>
    <a href="/showPlane"><button>Show Plane</button></a>
    <a href="/logout">Logout</a>
</body>
</html>