<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <%= user.email %>
      
        <% if(user.role === 'pilot'){ %>
            PILOT 
            <br>
    <a href="/showSchedule"><button>Show Schedule</button></a>
    <a href="/showPlane"><button>Show Plane</button></a>
        <% }else{ %>
            ADMIN HAS LOGIN
            <br>
        <a href="/addFlight">ADD NEW FLIGHT</a>
        <a href="/flightDetail">DETAIL</a>
            <% } %>
        <!-- <img src="" alt="" >admin -->
    </nav>
    <br>
    <h1>Welcome</h1>
    <a href="/logout">Logout</a>
</body>
</html>