<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Pilot</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <table>
        <tr>
          <th>Pilot Name</th>
          <th>License Number</th>
          <th>Experience</th>
        </tr>
        <% data.forEach(element => { %>   
        <tr>
                <td><%= element.pilotName %></td>
                <td><%= element.licenseNumber %></td>
                <td><%= element.experience %></td>
            </tr>
            <% }); %>
      </table>
      
</body>
</html>